<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 600" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>

  .path-0{
    animation:pathAnim-0 24s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,600 C 0,600 0,200 0,200 C 107.59999999999997,167.2 215.19999999999993,134.4 404,146 C 592.8000000000001,157.6 862.8000000000002,213.60000000000002 1049,230 C 1235.1999999999998,246.39999999999998 1337.6,223.2 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
    25%{
      d: path("M 0,600 C 0,600 0,200 0,200 C 212.13333333333333,178.53333333333333 424.26666666666665,157.06666666666666 563,151 C 701.7333333333333,144.93333333333334 767.0666666666668,154.26666666666665 901,165 C 1034.9333333333332,175.73333333333335 1237.4666666666667,187.86666666666667 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
    50%{
      d: path("M 0,600 C 0,600 0,200 0,200 C 138.53333333333336,162.79999999999998 277.0666666666667,125.59999999999997 448,146 C 618.9333333333333,166.40000000000003 822.2666666666667,244.40000000000003 993,263 C 1163.7333333333333,281.59999999999997 1301.8666666666668,240.79999999999998 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
    75%{
      d: path("M 0,600 C 0,600 0,200 0,200 C 142.40000000000003,154.13333333333333 284.80000000000007,108.26666666666668 468,126 C 651.1999999999999,143.73333333333332 875.2,225.06666666666666 1044,248 C 1212.8,270.93333333333334 1326.4,235.46666666666667 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
    100%{
      d: path("M 0,600 C 0,600 0,200 0,200 C 107.59999999999997,167.2 215.19999999999993,134.4 404,146 C 592.8000000000001,157.6 862.8000000000002,213.60000000000002 1049,230 C 1235.1999999999998,246.39999999999998 1337.6,223.2 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
  }</style><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#2f97f088"></stop><stop offset="95%" stop-color="#36aff688"></stop></linearGradient></defs><path d="M 0,600 C 0,900 0,200 0,200 C 107.59999999999997,167.2 215.19999999999993,134.4 404,146 C 592.8000000000001,157.6 862.8000000000002,213.60000000000002 1049,230 C 1235.1999999999998,246.39999999999998 1337.6,223.2 1440,200 C 1440,200 1440,600 1440,600 Z" stroke="none" stroke-width="0" fill="url(#gradient)" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 300)"></path><style>
  .path-1{
    animation:pathAnim-1 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-1{
    0%{
      d: path("M 0,600 C 0,600 0,400 0,400 C 130.66666666666669,394.4 261.33333333333337,388.8 427,385 C 592.6666666666666,381.2 793.3333333333333,379.2 968,382 C 1142.6666666666667,384.8 1291.3333333333335,392.4 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
    25%{
      d: path("M 0,600 C 0,600 0,400 0,400 C 180,414.26666666666665 360,428.53333333333336 499,441 C 638,453.46666666666664 736,464.1333333333333 886,457 C 1036,449.8666666666667 1238,424.93333333333334 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
    50%{
      d: path("M 0,600 C 0,600 0,400 0,400 C 204.13333333333333,368.66666666666663 408.26666666666665,337.3333333333333 565,354 C 721.7333333333333,370.6666666666667 831.0666666666666,435.33333333333337 969,451 C 1106.9333333333334,466.66666666666663 1273.4666666666667,433.3333333333333 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
    75%{
      d: path("M 0,600 C 0,600 0,400 0,400 C 182.93333333333334,387.6 365.8666666666667,375.2 526,369 C 686.1333333333333,362.8 823.4666666666667,362.8 972,369 C 1120.5333333333333,375.2 1280.2666666666667,387.6 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
    100%{
      d: path("M 0,600 C 0,600 0,400 0,400 C 130.66666666666669,394.4 261.33333333333337,388.8 427,385 C 592.6666666666666,381.2 793.3333333333333,379.2 968,382 C 1142.6666666666667,384.8 1291.3333333333335,392.4 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
  }</style><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#2f97f0ff"></stop><stop offset="95%" stop-color="#36aff6ff"></stop></linearGradient></defs><path d="M 0,600 C 0,600 0,400 0,400 C 130.66666666666669,394.4 261.33333333333337,388.8 427,385 C 592.6666666666666,381.2 793.3333333333333,379.2 968,382 C 1142.6666666666667,384.8 1291.3333333333335,392.4 1440,400 C 1440,400 1440,600 1440,600 Z" stroke="none" stroke-width="0" fill="url(#gradient)" class="transition-all duration-300 ease-in-out delay-150 path-1" transform="rotate(-180 720 300)"></path></svg>

  <div class="seca valign-wrapper">
    <div class="row z-depth-1 kartu">
      <div class="col s12 m6 l5 a1">
        <img width="100%" src="img/pemapi-app-download.png" alt="">
      </div>
      <div class="col s12 m6 l7 a2">
        <div class="judul">
          <h3>
            LOGIN
          </h3>
        </div>
        <div class="a2a">
          <form class="col s12 m12 l8" method="post" action="/loginval">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="text" class="validate" name="username">
              <label for="icon_prefix">User</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">vpn_key</i>
              <input id="password" type="password" class="validate" name="password">
              <label for="password">Password</label>
            </div>
            <button data-btn-login class="btn waves-effect waves-light blue" type="submit" onclick="loading()">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    function loading(){
      let containerLoad = document.querySelector('[data-conload]')
      containerLoad.classList.remove('hide');
    }
  </script>


