<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--my CSS -->
    <link rel="stylesheet" type="text/css" href="css/loadingPage.css">

    <title><%= title %>  </title>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/ce27987ac1.js" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <%- body %> 

  </body>
</html>