nav{
  width: min(100%, 1100px);
  margin-inline: auto;
}
nav .brand-logo{
  height: 100%;
  display: flex;
  align-items: center;
}
nav .brand-logo img{
  height: 70%;
  border: 2.5px solid white;
  border-radius: 50%;
  padding: 6px;
}
form.seca{
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
}
form.seca input{
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
}
.totalbelanja{
  text-align: center;
  margin: 10px 0 10px 0;
}
[data-total-belanja='all']{
  margin: 30px 0 35px 0;
}
.secb.collapsible.popout{
  width: min(100%, 1000px); 
  margin-inline: auto;
}
.secb ul li i{
  text-transform: capitalize;
}
.secb ul li span.title{
  text-transform: uppercase;
  font-weight: bold;
}
.secb ul li p:nth-of-type(1){
  font-size: large;
}
.secb .collection li p:nth-of-type(3){
  font-weight: bold;

}
.collapsible-header ul{
  width: 100%;
}
.secd.modal{
  /* width: 20% !important; */
}
.sece.modal{
  background: rgba(255, 255, 255, 0) !important;
  border: none !important;
  box-shadow: none !important;
}
.sece.modal .container{
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
  /* flex-direction: column; */
}